body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --perceived-lightness: calc(
    ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255
  );
  --lightness-threshold: 0.453;
  --label-r: 0;
  --label-g: 134;
  --label-b: 114;
  --label-h: 171;
  --label-s: 100;
  --label-l: 26;
  --lightness-switch: max(
    0,
    min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1)
  );
}
